p {
    background-color: rgb(18, 74, 179);
}

p:hover
{
    background-color: brown;
}

a.links
{
    background-color: black;
    color: aqua;
}

body {
    background-image: url(bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}